.tile {
    padding: 5px;
    border-bottom: 1px solid black;
    border-right: 10px solid green;
    transition: 0.2s;
    display: flex;
    align-items: left;
    width: 100%;
}

.tile:hover {
    background-color: rgb(100, 100, 100);
}

.definition, .selection {
    text-align: left;
    color: white;
}

.price {
    color: green;
    text-align: right;
}